# ========== GLOBAL ==========
.DS_Store
.vscode/
.idea/
.env
*.env
*.log
*.tmp
*.swp

# ========== DEPENDÊNCIAS ==========
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========== REACT NATIVE ==========
# Metro bundler cache
.cache/

# Watchman
.watchmanconfig

# Build outputs
build/
*.apk
*.keystore

# Android
android/.gradle/
android/app/build/

# iOS
ios/
*.xcodeproj
*.xcworkspace
*.xcuserstate
*.xcuserdata
*.pbxuser
*.mode1v3
*.mode2v3

# Expo-specific
.expo/
.expo-shared/

back-express/assets/myDish.*
